$white: #D9D9D9;

$background-one: #011140;
$background-dark: #010A26;
$details: #034AA6;
$priority: #0487D9;
$color-light: #05DBF2;
$color-resposive: #082783;

$hover-btn-cancel: #e63e3e;
$hover-btn-ok: #0487D9;
$hover-btn-add: #0487D9;
$hover-priority: #d6ac5e;

$bar-finished: #5eeb27;
$bar-canceled: #ec530c;



$background-task: #AEE8CA;
$background-list: #6acfc9;
$background: #26B6C6;
$text: white;