$white: #FAEDDA;
$background-task: #AEE8CA;
$background-list: #6acfc9;
$background: #26B6C6;
//$text: #3C2F80;
$text: #ffa600;

$hover-btn-cancel: #ca7878;
$hover-btn-ok: #6df353;
$hover-btn-add: #3bf84583;
$hover-priority: #d6ac5e;