@import '_colors';
@import '_mixin';
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rethink Sans', sans-serif;
}
*::-webkit-scrollbar {
  width: 0.8rem;
}
*::-webkit-scrollbar-track {
    background: $background-list;
    //margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-top: 0.5vw;
  }
*::-webkit-scrollbar-thumb {
    background-color: $space_text;
    border-radius: 20px;
}
body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: $background;
    /*header{
        align-self: flex-start;
        width: 100%;
        height: 10vh;
        background-color: $background-list
    }*/
    #modal-remove{
        @include container;
        flex-direction: column;
        justify-content: space-around;
        height: 40vh;
        margin-bottom: 0rem;
        #task-remove{
            margin-top: 2rem;
            p{
                font-size: 1.3rem;
            }
        }
    }
    .modal{
        @include container;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        //display: none;
        position: fixed;
        z-index: 100;
        //top: 0;
        //left: 0;
        margin: 0 auto;
        min-width: 50%;
        height: 40vh;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $background_list;
        color: $text;
        .content-modal{
            @include container;
            justify-content: space-around;
            width: 100%;
            height: 8vh;
            margin-top: 3rem;
            padding: 0.35vw;
            .input{
                width:60%;
                height: 100%;
                padding: 0.5rem;
                background-color: $white;
                outline: none;
                border-style: none;
                font-size: 1vw;
                border-radius: 1rem;
                color: $text;
                font-weight: 900;
                letter-spacing: 0.1rem;
            }
            .input::placeholder{
                color: $text;
                opacity: 40%;
            }
        }
        .content-btn{
            @include container;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 10vh;
            padding: 0.25rem;
            margin-top: 3rem;
            .btn-edit{
                @include container;
                justify-content: center;
                width:37%;
                height: 95%;
                min-height: 10vh;
                border-radius: 0.5rem;
                background-color: $space_text;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.1rem;
                color: $text;
                transition: .1s;
                border-style: none;
            }
            #btn-edit-cancel:hover{
                cursor: pointer;
                background-color: rgb(202, 120, 120);
            }
            #btn-edit-edit:hover{
                cursor: pointer;
                background-color: rgb(109, 243, 83);
            }
        }
    }
    #container{
        justify-self: center;
        @include container;
        //margin-top: 10vh;
        flex-direction: column;
        background-color: $background_list;
        min-width: 50vw;
        height: 60vh;
        padding: 1vw;
        border-radius: 2rem;
        h1{
            font-size:2rem;
            margin-bottom: 3vw;
            color: $text;
        }
        #container-info{
            @include container;
            justify-content: space-around;
            padding: 0.25vw;
            margin-bottom: 2vw;
            width:100%;
            height: 8vh;
            #task-add{
                width:60%;
                height: 100%;
                padding: 0.5rem;
                background-color: $white;
                outline: none;
                border-style: none;
                font-size: 1rem;
                border-radius: 1rem;
                color: $text;
                font-weight: 900;
                letter-spacing: 0.1rem;
            }
            #task-add::placeholder{
                color: $text;
                opacity: 40%;
            }
            #priority{
                @include container;
                flex-direction: column;
                justify-content: space-between;
                width: 15%;
                height: 100%;
                padding: 0.1vw;
                border-radius: 0.5rem;
                color: $text;
                background-color: $space_text;
                p{
                    font-size: 0.9rem;
                    font-weight: 900;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                    color: $text;
                }
                #level{
                    @include container;
                    justify-content: space-around;
                    width: 100%;
                    height: 100%;
                }
            }
            #btn-add{
                @include container;
                justify-content: center;
                width:15%;
                height: 100%;
                border-radius: 0.5rem;
                background-color: $space_text;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.1rem;
                color: $text;
                transition: .1s;
            }
            #btn-add:hover{
                cursor: pointer;
                background-color: #2fd897;
                color: $white;
            }
        }
        #task-made{
            @include container;
            flex-direction: column;
            justify-content: flex-start;
            background-color: $background-list;
            padding: 0.5vw;
            width:100%;
            height: 40vh;
            border-radius: 2rem;
            overflow-x: hidden;
            overflow-y: auto;
            .priority-action{
                @include container;
                justify-content: space-between;
                flex-direction: row;
                justify-content: space-around;
                width: 35%;
            }
            .priority-task{
                @include container;
                justify-content: space-around;
                width: 40%;
                height:100%;
            }
            .container-actions{
                @include container;
                width: 40%;
                height: 5vh;
                justify-content: space-around;
                .actions{
                    cursor:pointer;
                }
            }
        }
    }
    .priority-level{
        width: 20px;
        height: 20px;
        background-color: $background_list;
        border-radius: 50%;
        transition: .1s;
    }
    .content-priority{
        @include container;
        flex-direction: column;
        justify-content: space-around;
        width: 15%;
        height: 100%;
        padding: 0.1vw;
        border-radius: 0.5rem;
        color: $text;
        background-color: $space_text;
        p{
            font-size: 80%;
            font-weight: 900;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            color: $text;
        }
        .content-level{
            @include container;
            justify-content: space-around;
            width: 100%;
            height: 100%;
        }
    }
    .tasks{
        @include container;
        justify-content: space-between;
        background-color:$space_text;
        width:100%;
        min-height:30%;
        margin-bottom: 1rem;
        padding: 0rem 1rem 0rem 3rem;
        border-radius: 2rem;
    }
    .task-puted{
        font-size: 1.2rem;
        color: $text;
        font-weight: 900;
        letter-spacing: 0.1rem;
        width: 50%;
    }
    .choose-priority{
        width: 20px;
        height: 20px;
        background-color: $background_list;
        border-radius: 50%;
        transition: .1s;
    }
    .choose-priority:hover{
        background-color: #d6ac5e;
        cursor: pointer;
    }
    .watch-out{
        box-shadow: rgba(216, 34, 18, 0.863) 0px 0px 0px 2px, rgba(228, 5, 5, 0.65) 0px 4px 6px -1px, rgba(153, 26, 26, 0.08) 0px 1px 0px inset;
    }
}

/*@media screen and (max-width: 1100px) {
    body{
        width: 100%;
        #container{
            justify-content: space-around;
            width: 90%;
            height: 80vh;
            #container-info{
                flex-direction: column;
                height: 15vh;
                #task-add{
                    width:90%;
                }
                #priority{
                    width:90%;
                    height: 10vh;
                }
                #btn-add{
                    width:90%;
                }
            }
        }
    }
  }*/

  @media screen and (max-width: 1050px){
    body{
        width: 100%;
        #container{
            justify-content: space-around;
            width: 60vw;
            height:70vh;
            #task-made{
                width: 90%;
                height: 35vh;
                .priority-action{
                    width: 40%;
                }
                .priority-action{
                    width: 50%;
                }
                .container-actions{
                    width: 40%;
                }
            }
            #container-info{
                flex-direction: column;
                height: 25vh;
                #task-add{
                    width: 90%;
                    height:25%;
                }
                #priority{
                    width: 90%;
                    height: 25%;
                    p{
                        font-size: 1rem;
                    }
                    #level{
                        width: 25%;
                    }
                }
                #btn-add{
                    width: 90%;
                    height: 25%;
                }
            }
        }
        .choose-priority{
               width: 18px;
               height: 18px;         
        }
    }
  }
  @media screen and (max-width: 1400px){
    body{
        width: 100%;
        #container{
            width: 70vw;
        }
        .modal{
            width: 65%;
        }
    }
  }
  @media screen and (max-width: 1000px){
    body{
        width: 100%;
        .modal{
            width: 80%;
        }
    }
  }
  @media screen and (max-width: 800px){
    body{
        width: 100%;
        #container{
            width: 90vw;

        }
        .modal{
            width: 80%;
        }
    }
  }
  @media screen and (max-width: 600px){
    body{
        width: 100%;
        #container{
            width: 95vw;
            height: 90vh;
            #task-made{
                height: 40vh;
                padding-top:1vw;
                .priority-action{
                    width: 90%;
                }
                .priority-task{
                    width: 40%;
                }
                .container-actions{
                    width: 40%;
                }
                .actions{
                    height: 2.5vh;
                }
            }
            .task-puted{
                font-size: 1.3rem;
                text-align: center;
            }
        }
        #modal-remove{
            #task-remove{
                p{
                    text-align: center;
                }
            }
        }
        .tasks{
            flex-direction: column;
            justify-content: space-around;
            padding: 0;
            padding-top: 0.5rem;
            border-radius: 20px;
        }
        .priority-level{
            width: 25px;
            height: 25px;
        }
        .content-priority{
            flex-direction: column;
            width: 100%;
            height: 40%;
            p{
                font-size: 0.8rem;
            }
        }
        .modal{
            min-height: 60%;
            .content-modal{
                flex-direction: column;
                height:25vh;
                .input{
                    width: 100%;
                    height: 40%;
                    text-align: center;
                    font-size: 1rem;
                }
            }
        }
        .choose-priority{
            width: 20px;
            height: 20px;
        }
    }
  }

  @media screen and (max-width: 400px){
    *::-webkit-scrollbar-track {
        margin-top: 1rem;
      }
    body{
        width: 100%;
        #container{
            #container-info{
                height: 35vh;
                #task-add{
                    text-align: center;
                }
                #priority{
                    height:30%;
                    #level{
                        width: 90%;
                    }
                }
            }
            #task-made{
                padding-top: 1rem;
                .container-actions{
                    .actions{
                        height: 3vh;
                    }
                }
            }
            .task-puted{
                font-size: 1rem;
            }
        }
        .priority-level{
            width: 20px;
            height:20px;
        }
        .tasks{
            width: 98%;
            min-height: 35%;
            border-radius: 10px;
        }
    }
  }