@import '_colors';
@import '_mixin';
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rethink Sans', sans-serif;
}

#task-made::-webkit-scrollbar {
    width: 0.8rem;
}

#task-made::-webkit-scrollbar-track {
    //background: $details;
    //margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-top: 0.5vw;
}

#task-made::-webkit-scrollbar-thumb {
    background-color: $color-light;
    border-radius: 20px;
}

body {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //background-color: $background;
    background: linear-gradient(to right, $background-one, $details);

    .style-bar-options {
        @include container;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, $background-one, $background-dark);
        padding: 1rem;
        transition: 2s;
        //display: none;

        .container-name-symbol {
            align-self: flex-end;
            @include container;
            justify-content: space-between;
            width: 100%;

            h1 {
                color: $white;
            }

            img {
                height: 30px;
            }

            img:hover {
                cursor: pointer;
            }
        }

        .container-bars {
            width: 100%;
            height: 50vh;
            margin-top: 4rem;

            .seeing-options-bar {
                align-self: flex-start;
                @include container;
                justify-content: center;
                width: 75%;
                height: 15%;
                background-color: $color-resposive;
                margin-bottom: 2rem;
                border-radius: 0.5rem;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                transition: 0.2s;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    font-size: 1.1rem;
                    font-weight: 550;
                }
            }

            .seeing-options-bar:hover {
                cursor: pointer;
                background-color: $priority;
            }
        }
    }

    header {
        @include container;
        justify-content: space-between;
        width: 100%;
        height: 10%;
        padding: 1rem;
        //background-color: $background-dark;
        //display: none;

        #bar-view-options {
            position: absolute;
            left: 15px;
        }

        #bar-view-options:hover {
            cursor: pointer;
        }

        .symbol-nav {
            height: 25px;
        }

        .name-symbol {
            @include container;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 5rem;

            h1 {
                color: $white;
                font-weight: 900;
                margin-left: 1rem;
            }
        }

        nav {
            width: 40%;
            height: 60%;

            ul {
                @include container;
                justify-content: space-around;
                list-style: none;
                height: 100%;

                li {
                    @include container;
                    justify-content: center;
                    width: 25%;
                    height: 100%;
                    text-transform: uppercase;
                    background-color: $details;
                    border-radius: 0.5rem;
                    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 10px;
                    transition: .1s;

                    p {
                        color: $white;
                        font-weight: 500;
                    }
                }
                li:hover {
                    background-color: $priority;
                    cursor: pointer;
                }
            }
        }
    }

    //Style opara página de perfil, estatísticas e configurações
    #main-profile {
        position: absolute;
        top: 10rem;
        width: 85%;
        height: 75vh;

        #container-statistic {
            @include container;
            width: 100%;
            height: 100%;
            //background-color: $white;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        #container-select {
            @include container;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: 40%;
        }

        .select-page {
            @include container;
            flex-direction: column;
            width: 25%;
            height: 100%;
            padding: 1rem;
            background-color: $background-one;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            z-index: 10;
        }

        .select-box-style {
            @include container;
            justify-content: center;
            width: 90%;
            height: 25%;
            background-color: $white;
            border-radius: 1rem;
            text-transform: uppercase;
            transition: .1s;
        }

        .select-box-style:hover {
            cursor: pointer;
            background-color: #a7e2dec2;

        }

        .view-infos::-webkit-scrollbar {
            width: 0.8rem;
        }

        .view-infos::-webkit-scrollbar-track {
            //background: $details;
            //margin-top: 1rem;
            margin-bottom: 1.2rem;
            margin-top: 0.5vw;
        }

        .view-infos::-webkit-scrollbar-thumb {
            background-color: $color-light;
            border-radius: 20px;
        }

        .view-infos {
            width: 75%;
            height: 100%;
            padding: 1rem;
            //background-color: $background-list;
            overflow-y: auto;
            overflow-x: hidden;

            .container-statistic {
                @include container;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                min-height: 70vh;

                h1 {
                    color: $white;
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    font-weight: 900;
                    //letter-spacing: .1rem;
                }

                .box-statistics {
                    @include container;
                    justify-content: space-around;
                    width: 100%;
                    height: 40%;

                    .style-box-statistics {
                        @include container;
                        flex-direction: column;
                        background-color: $white;
                        width: 30%;
                        height: 25vh;
                        border-radius: 1rem;
                        padding: 0.5rem;

                        .name-type-statitic {
                            font-size: 1.3vw;
                            text-transform: uppercase;
                            font-weight: 700;
                        }

                        .number-statistic {
                            //margin-top: 25%;
                            margin: auto;
                            font-size: 5.5vw;
                        }
                    }
                }

                .container-statistic-bar {
                    @include container;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    height: 15vh;

                    //background-color: red;
                    .statistic-bar {
                        @include container;
                        flex-direction: row;
                        width: 100%;
                        height: 30%;
                        border-radius: 0.5rem;
                        background-color: $white;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;

                        #bar-task-finished {
                            height: 100%;
                            width: 78%;
                            background-color: $bar-finished;
                            background: linear-gradient(to right, #5eeb27, #4ab41f);
                            border-top-left-radius: .5rem;
                            border-bottom-left-radius: .5rem;
                        }

                        #bar-task-canceled {
                            height: 100%;
                            width: 22%;
                            background-color: $bar-canceled;
                            background: linear-gradient(to right, #ec530c, #f06424);
                            border-top-right-radius: .5rem;
                            border-bottom-right-radius: .5rem;
                        }
                    }

                    .statistic-bar-info {
                        @include container;
                        justify-content: space-around;
                        background-color: $background-task;
                        opacity: 40%;
                        width: 70%;
                        height: 20%;
                        padding: 10px;
                        border-radius: 0.5rem;
                        margin-top: 2rem;
                        text-transform: uppercase;
                        font-weight: 600;
                        transition: .8s;
                    }

                    .statistic-bar-info:hover {
                        opacity: 100%;
                    }
                }
            }
        }
    }

    //Fim do estilo

    #modal-remove {
        @include container;
        flex-direction: column;
        justify-content: space-around;
        width: 50vw;
        height: 40vh;
        margin-bottom: 0rem;

        #task-remove {
            //margin-top: 2rem;

            p {
                font-size: 1.3rem;
            }
        }
    }

    .modal {
        @include container;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        //display: none;
        position: absolute;
        z-index: 100;
        //top: 0; 
        //left: 0;
        margin: 0 auto;
        width: 50vw;
        height: 40vh;
        padding: 1rem;
        border-radius: 1rem;
        //background-color: $background-list;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        color: $text;

        .content-modal {
            @include container;
            justify-content: space-around;
            width: 100%;
            height: 8vh;
            //margin-top: 3rem;
            padding: 0.35vw;

            .input {
                width: 70%;
                height: 100%;
                padding: 0.5rem;
                background-color: $details;
                outline: none;
                border-style: none;
                font-size: 1vw;
                border-radius: 1rem;
                color: $text;
                font-weight: 900;
                letter-spacing: 0.1rem;
            }

            .input::placeholder {
                color: $text;
                opacity: 40%;
            }
        }

        .content-btn {
            @include container;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 10vh;
            padding: 0.25rem;
            //margin-top: 3rem;

            .btn-edit {
                @include container;
                justify-content: center;
                width: 37%;
                height: 95%;
                min-height: 10vh;
                border-radius: 0.5rem;
                background-color: $details;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.1rem;
                color: $text;
                transition: .1s;
                border-style: none;
            }

            #btn-edit-cancel:hover {
                cursor: pointer;
                background-color: $hover-btn-cancel;
            }

            #btn-edit-edit:hover {
                cursor: pointer;
                background-color: $hover-btn-ok;
            }
        }
    }

    main {
        @include container;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        height: 50%;
        //display: none;

        #container {
            justify-self: center;
            @include container;
            flex-direction: column;
            //background: linear-gradient(to right, $details, $color1);
            width: 100%;
            height: 100%;
            padding: 1vw;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

            h1 {
                font-size: 2rem;
                margin-bottom: 3vw;
                color: $text;
            }

            #container-info {
                @include container;
                justify-content: space-around;
                padding: 0.25vw;
                margin-bottom: 2vw;
                width: 100%;
                height: 8vh;

                #task-add {
                    width: 60%;
                    height: 100%;
                    padding: 0.5rem;
                    background-color: $details;
                    outline: none;
                    border-style: none;
                    font-size: 1rem;
                    border-radius: 1rem;
                    color: $text;
                    font-weight: 900;
                    letter-spacing: 0.1rem;
                }

                #task-add::placeholder {
                    color: $text;
                    opacity: 40%;
                }

                #priority {
                    @include container;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 15%;
                    height: 100%;
                    padding: 0.1vw;
                    border-radius: 0.5rem;
                    color: $text;
                    background-color: $details;

                    p {
                        font-size: 0.9rem;
                        font-weight: 900;
                        letter-spacing: 0.1rem;
                        text-transform: uppercase;
                        color: $text;
                    }

                    #level {
                        @include container;
                        justify-content: space-around;
                        width: 100%;
                        height: 100%;
                    }
                }

                #btn-add {
                    @include container;
                    justify-content: center;
                    width: 15%;
                    height: 100%;
                    border-radius: 0.5rem;
                    background-color: $details;
                    text-transform: uppercase;
                    font-weight: 900;
                    letter-spacing: 0.1rem;
                    color: $text;
                    transition: .1s;
                }

                #btn-add:hover {
                    cursor: pointer;
                    background-color: $hover-btn-add;
                    //color: $white;
                }
            }

            #task-made {
                @include container;
                flex-direction: column;
                justify-content: flex-start;
                //background-color: $details;
                padding: 0.5vw;
                width: 100%;
                height: 40vh;
                border-radius: .5rem;
                overflow-x: hidden;
                overflow-y: auto;

                .priority-action {
                    @include container;
                    justify-content: space-between;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 35%;
                }

                .priority-task {
                    @include container;
                    justify-content: space-around;
                    width: 40%;
                    height: 100%;
                }

                .container-actions {
                    @include container;
                    width: 40%;
                    height: 5vh;
                    justify-content: space-around;

                    .actions {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .priority-level {
        width: 20px;
        height: 20px;
        //background-color: $white;
        border-radius: 50%;
        transition: .1s;
    }

    .content-priority {
        @include container;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        height: 100%;
        padding: 0.1vw;
        border-radius: 0.5rem;
        color: $text;
        background-color: $details;

        p {
            font-size: 80%;
            font-weight: 900;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            color: $text;
        }

        .content-level {
            @include container;
            justify-content: space-around;
            width: 100%;
            height: 100%;
        }
    }

    .tasks {
        @include container;
        justify-content: space-between;
        background-color: $details;
        width: 100%;
        min-height: 10vh;
        margin-bottom: 1rem;
        padding: 0rem 1rem 0rem 3rem;
        border-radius: 1.3rem;
    }

    .task-puted {
        font-size: 1.2rem;
        color: $text;
        font-weight: 900;
        letter-spacing: 0.1rem;
        width: 50%;
    }

    .choose-priority {
        width: 20px;
        height: 20px;
        background-color: $priority;
        border-radius: 50%;
        transition: .1s;
    }

    .choose-priority:hover {
        background-color: $color-light;
        cursor: pointer;
    }

    .watch-out {
        box-shadow: rgba(216, 34, 18, 0.863) 0px 0px 0px 2px, rgba(228, 5, 5, 0.65) 0px 4px 6px -1px, rgba(153, 26, 26, 0.08) 0px 1px 0px inset;
    }

    footer {
        width: 100%;
        height: 15%;
        background-color: $priority;
    }
}

@media screen and (max-width: 1350px) {
    body {
        .modal {
            min-width: 70vw;
        }
    }
}

@media screen and (max-width: 1400px) {
    body {
        width: 100%;

        main {
            width: 70vw;

            #container {
                width: 100%;
            }
        }

        .modal {
            width: 65%;
        }

        .tasks {
            border-radius: 1rem;
        }
    }
}

@media screen and (max-width: 1250px) {
    body {
        header {
            nav {
                width: 50%;
            }
        }

        #main-profile {

            .view-infos {
                .container-statistic {
                    .container-statistic-bar {
                        .statistic-bar-info {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    body {
        width: 100%;

        main {
            width: 70vw;
            height: 70vh;

            #container {
                justify-content: space-around;
                width: 100%;
                height: 100%;

                #task-made {
                    width: 90%;
                    height: 35vh;

                    .priority-action {
                        width: 40%;
                    }

                    .priority-action {
                        width: 50%;
                    }

                    .container-actions {
                        width: 40%;
                    }
                }

                #container-info {
                    flex-direction: column;
                    height: 25vh;

                    #task-add {
                        width: 90%;
                        height: 25%;
                    }

                    #priority {
                        width: 90%;
                        height: 25%;

                        p {
                            font-size: 1rem;
                        }

                        #level {
                            width: 25%;
                        }
                    }

                    #btn-add {
                        width: 90%;
                        height: 25%;
                    }
                }
            }
        }

        .choose-priority {
            width: 18px;
            height: 18px;
        }
    }
}

@media screen and (max-width: 1000px) {
    body {
        width: 100%;

        header {
            nav {
                width: 60%;
            }
        }

        .modal {
            width: 80%;
        }

        .tasks {
            border-radius: 1rem;
        }

        //Style para página Profile
        #main-profile {
            #container-statistic {
                flex-direction: column;
            }

            #container-select {
                flex-direction: row;
                height: 100%;
            }

            #modal-remove {
                min-width: 90vw;
                //min-height: 50vh;
            }

            .select-box-style {
                width: 25%;
                height: 100%;
            }

            .select-page {
                width: 100%;
                height: 15%;
            }

            .view-infos {
                width: 100%;
                height: 85%;
                padding-top: 2rem;

                .container-statistic {
                    min-height: 60vh;

                    .box-statistics {

                        .style-box-statistics {
                            .name-type-statitic {
                                font-size: 2vw;
                            }

                            .number-statistic {
                                font-size: 7vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;

        header {
            justify-content: center;
            width: 100%;

            nav {
                display: none;
            }

            .name-symbol {
                margin: 0;
                //width: 0vw;
            }
        }

        main {
            width: 90vw;

            #container {
                width: 100%;
            }
        }

        #container-statistic {
            width: 95%;
        }

        .modal {
            width: 80%;
        }

        .content-priority {
            width: 25%;
        }

        .tasks {
            border-radius: 1rem;
        }

        //Style para página Profile
        #main-profile {
            .view-infos {
                .container-statistic {
                    min-height: 110vh;

                    .box-statistics {
                        flex-direction: column;
                        height: 80vh;

                        .style-box-statistics {
                            width: 60%;

                            .name-type-statitic {
                                font-size: 4vw;
                            }

                            .number-statistic {
                                font-size: 15vw;
                            }
                        }
                    }

                    .container-statistic-bar {
                        .statistic-bar-info {
                            width: 90%;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 130vh;
        background: none;
        background-color: $background-one;


        main {
            width: 95vw;
            height: 90vh;

            #container {
                width: 100%;
                height: 100%;
                background-color: $color-resposive;

                #task-made {
                    height: 60vh;
                    padding-top: 1vw;

                    .priority-action {
                        width: 90%;
                    }

                    .priority-task {
                        width: 40%;
                    }

                    .container-actions {
                        width: 40%;
                    }

                    .actions {
                        height: 2.5vh;
                    }
                }

                #container-info {
                    #btn-add {
                        height: 30%;
                    }
                }

                .task-puted {
                    font-size: 1.2rem;
                    text-align: center;
                    width: 100%;
                }
            }
        }

        #modal-remove {
            #task-remove {
                p {
                    text-align: center;
                    width: 100%;
                }
            }
        }

        .tasks {
            flex-direction: column;
            justify-content: space-around;
            padding: 0;
            padding-top: 0.5rem;
            border-radius: 20px;
            min-height: 12vh;
        }

        .priority-level {
            width: 20px;
            height: 20px;
        }

        .content-priority {
            flex-direction: column;
            width: 100%;
            height: 40%;

            p {
                font-size: 0.8rem;
            }
        }

        .modal {
            min-height: 50vh;
            min-width: 90vw;

            .content-modal {
                flex-direction: column;
                height: 25vh;

                .input {
                    width: 100%;
                    height: 45%;
                    text-align: center;
                    font-size: 1rem;
                }
            }

            .content-btn {
                justify-content: space-between;

                .btn-edit {
                    width: 45%;
                }
            }
        }

        .choose-priority {
            width: 20px;
            height: 20px;
        }

        #main-profile {
            .view-infos {
                .container-statistic {
                    .container-statistic-bar {
                        .statistic-bar-info {
                            flex-direction: column;
                            width: 80%;
                            height: 60%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    *::-webkit-scrollbar-track {
        margin-top: 1rem;
    }

    body {
        width: 100%;

        main {
            #container {
                #container-info {
                    height: 35vh;

                    #task-add {
                        text-align: center;
                    }

                    #priority {
                        height: 30%;

                        p {
                            font-size: 0.9rem;
                        }

                        #level {
                            width: 90%;
                        }
                    }
                }

                #task-made {
                    padding-top: 1rem;
                    margin-bottom: 1rem;

                    .container-actions {
                        .actions {
                            height: 2.5vh;
                        }
                    }
                }

                .task-puted {
                    font-size: 1.2rem;
                }
            }
        }

        .priority-level {
            width: 16px;
            height: 16px;
        }

        .tasks {
            width: 98%;
            min-height: 35%;
            border-radius: 10px;
        }
    }
}