@import '_colors';
@import '_mixin';
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rethink Sans', sans-serif;
}
*::-webkit-scrollbar {
  width: 0.8rem;
}
*::-webkit-scrollbar-track {
    background: $background-list;
  }
*::-webkit-scrollbar-thumb {
background-color: $space_text;
border-radius: 20px;
}
body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: $background;
    .modal{
        @include container;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        //display: none;
        position: fixed;
        z-index: 100;
        //top: 0;
        //left: 0;
        margin: 0 auto;
        min-width: 40%;
        height: 40vh;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $background_list;
        color: $text;
        .content-modal{
            @include container;
            justify-content: space-around;
            width: 100%;
            height: 8vh;
            margin-top: 3rem;
            padding: 0.35vw;
            .input{
                width:60%;
                height: 100%;
                padding: 0.5rem;
                background-color: $white;
                outline: none;
                border-style: none;
                font-size: 1vw;
                border-radius: 1rem;
                color: $text;
                font-weight: 900;
                letter-spacing: 0.1rem;
            }
            .input::placeholder{
                color: $text;
                opacity: 40%;
            }
            .content-priority{
                @include container;
                flex-direction: column;
                justify-content: space-around;
                width: 15%;
                height: 100%;
                padding: 0.1vw;
                border-radius: 0.5rem;
                color: $text;
                background-color: $space_text;
                p{
                    font-size: 80%;
                    font-weight: 900;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                    color: $text;
                }
                .content-level{
                    @include container;
                    justify-content: space-around;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .content-btn{
            @include container;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 10vh;
            padding: 0.25rem;
            margin-top: 3rem;
            .btn-edit{
                @include container;
                justify-content: center;
                width:37%;
                height: 95%;
                border-radius: 0.5rem;
                background-color: $space_text;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.1rem;
                color: $text;
                transition: .1s;
                border-style: none;
            }
            #btn-edit-cancel:hover{
                cursor: pointer;
                background-color: rgb(202, 120, 120);
            }
            #btn-edit-edit:hover{
                cursor: pointer;
                background-color: rgb(109, 243, 83);
            }
        }
    }
    #container{
        @include container;
        flex-direction: column;
        background-color: $background_list;
        min-width: 40%;
        height: 60vh;
        padding: 1vw;
        border-radius: 2rem;
        h1{
            font-size:2vw;
            margin-bottom: 3vw;
            color: $text;
        }
        #container-info{
            @include container;
            justify-content: space-around;
            padding: 0.25vw;
            margin-bottom: 2vw;
            width:100%;
            height: 8vh;
            #task-add{
                width:60%;
                height: 100%;
                padding: 0.5rem;
                background-color: $white;
                outline: none;
                border-style: none;
                font-size: 1vw;
                border-radius: 1rem;
                color: $text;
                font-weight: 900;
                letter-spacing: 0.1rem;
            }
            #task-add::placeholder{
                color: $text;
                opacity: 40%;
            }
            #priority{
                @include container;
                flex-direction: column;
                justify-content: space-between;
                width: 15%;
                height: 100%;
                padding: 0.1vw;
                border-radius: 0.5rem;
                color: $text;
                background-color: $space_text;
                p{
                    font-size: 80%;
                    font-weight: 900;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                    color: $text;
                }
                #level{
                    @include container;
                    justify-content: space-around;
                    width: 100%;
                    height: 100%;
                }
            }
            #btn-add{
                @include container;
                justify-content: center;
                width:15%;
                height: 100%;
                border-radius: 0.5rem;
                background-color: $space_text;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.1rem;
                color: $text;
                transition: .1s;
            }
            #btn-add:hover{
                cursor: pointer;
                background-color: #2fd897;
                color: $white;
            }
        }
        #task-made{
            @include container;
            flex-direction: column;
            justify-content: flex-start;
            background-color: $background-list;
            padding: 0.5vw;
            width:100%;
            height: 32vh;
            border-radius: 2rem;
            overflow-x: hidden;
            overflow-y: auto;
            .task-puted{
                font-size: 0.8vw;
                color: $text;
                font-weight: 900;
                letter-spacing: 0.1rem;
            }
            .priority-action{
                @include container;
                justify-content: space-between;
                flex-direction: row;
                justify-content: space-around;
                width: 35%;
            }
            .priority-task{
                @include container;
                justify-content: space-around;
                width: 35%;
                height:100%;
                .priority-level{
                    width: 1vw;
                    height: 0.9vw;
                    background-color: $background_list;
                    border-radius: 50%;
                    transition: .1s;
                }
            }
            .container-actions{
                @include container;
                width: 5vw;
                height: 5vh;
                justify-content: space-around;
                .actions{
                    cursor:pointer;
                }
            }
            .tasks{
                @include container;
                justify-content: space-between;
                background-color:$space_text;
                width:100%;
                min-height:30%;
                margin-bottom: 1rem;
                padding: 0rem 1rem 0rem 3rem;
                border-radius: 2rem;
            }
        }
    }
    .choose-priority{
        width: 1vw;
        height: 0.9vw;
        background-color: $background_list;
        border-radius: 50%;
        transition: .1s;
    }
    .choose-priority:hover{
        background-color: #d6ac5e;
        cursor: pointer;
    }
}