@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
}

#task-made::-webkit-scrollbar {
  width: 0.8rem;
}

#task-made::-webkit-scrollbar-track {
  margin-bottom: 1.2rem;
  margin-top: 0.5vw;
}

#task-made::-webkit-scrollbar-thumb {
  background-color: #05DBF2;
  border-radius: 20px;
}

body {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #011140, #034AA6);
}
body .style-bar-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: 2s;
}
body .style-bar-options .container-name-symbol {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body .style-bar-options .container-name-symbol h1 {
  color: #D9D9D9;
}
body .style-bar-options .container-name-symbol img {
  height: 30px;
}
body .style-bar-options .container-name-symbol img:hover {
  cursor: pointer;
}
body .style-bar-options .container-bars {
  width: 100%;
  height: 50vh;
  margin-top: 4rem;
}
body .style-bar-options .container-bars .seeing-options-bar {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 15%;
  background-color: #082783;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
  transition: 0.2s;
}
body .style-bar-options .container-bars .seeing-options-bar p {
  text-transform: uppercase;
  color: #D9D9D9;
  font-size: 1rem;
  font-weight: 550;
}
body .style-bar-options .container-bars .seeing-options-bar:hover {
  cursor: pointer;
  background-color: #0487D9;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 1rem;
}
body header #bar-view-options {
  position: absolute;
  left: 15px;
}
body header #bar-view-options:hover {
  cursor: pointer;
}
body header .symbol-nav {
  height: 25px;
}
body header .name-symbol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5rem;
}
body header .name-symbol h1 {
  color: #D9D9D9;
  font-weight: 900;
  margin-left: 1rem;
}
body header nav {
  width: 40%;
  height: 60%;
}
body header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}
body header nav ul .li-visits {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  height: 100%;
  text-transform: uppercase;
  background-color: #034AA6;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 10px;
  transition: 0.1s;
}
body header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  height: 100%;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: 0.1s;
}
body header nav ul li p {
  color: #D9D9D9;
  font-weight: 500;
  font-size: 0.8rem;
}
body header nav ul li:hover {
  background-color: #034AA6;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 10px;
  cursor: pointer;
}
body #main-profile {
  position: absolute;
  top: 10rem;
  width: 95%;
  height: 75vh;
}
body #main-profile #container-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 1rem;
}
body #main-profile #container-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 40%;
}
body #main-profile .select-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  padding: 1rem;
  background-color: #011140;
  z-index: 10;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
body #main-profile .select-box-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 25%;
  background-color: #D9D9D9;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: 0.1s;
}
body #main-profile .select-box-style:hover {
  cursor: pointer;
  background-color: rgba(167, 226, 222, 0.7607843137);
}
body #main-profile .view-infos::-webkit-scrollbar {
  width: 0.8rem;
}
body #main-profile .view-infos::-webkit-scrollbar-track {
  margin-bottom: 1.2rem;
  margin-top: 0.5vw;
}
body #main-profile .view-infos::-webkit-scrollbar-thumb {
  background-color: #05DBF2;
  border-radius: 20px;
}
body #main-profile .view-infos {
  width: 75%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
body #main-profile .view-infos .style-to-title {
  color: #D9D9D9;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
}
body #main-profile .view-infos .container-statistic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 70vh;
}
body #main-profile .view-infos .container-statistic .choose-priority-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 18vw;
  height: 8vh;
  position: relative;
  padding: 0.2em;
}
body #main-profile .view-infos .container-statistic .choose-priority-view .select-priority {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 0.3vw;
  border-radius: 0.5rem;
  color: white;
  background-color: #034AA6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
}
body #main-profile .view-infos .container-statistic .choose-priority-view .select-priority p {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #D9D9D9;
}
body #main-profile .view-infos .container-statistic .choose-priority-view .select-priority .box-priority-statistic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
body #main-profile .view-infos .container-statistic .choose-priority-view .select-priority .box-priority-statistic .choose-priority-statistic {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #0487D9;
}
body #main-profile .view-infos .container-statistic .choose-priority-view .select-priority .box-priority-statistic .choose-priority-statistic:hover {
  cursor: pointer;
}
body #main-profile .view-infos .container-statistic .choose-priority-view .select-priority .box-priority-statistic #priority-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  background-color: #0487D9;
}
body #main-profile .view-infos .container-statistic .choose-priority-view .select-priority .box-priority-statistic #priority-all p {
  color: #010A26;
}
body #main-profile .view-infos .container-statistic .box-statistics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}
body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
  width: 30%;
  height: 25vh;
  border-radius: 1rem;
  padding: 0.5rem;
}
body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics .name-type-statitic {
  font-size: 1.3vw;
  text-transform: uppercase;
  font-weight: 700;
}
body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics .number-statistic {
  margin: auto;
  font-size: 5.5vw;
}
body #main-profile .view-infos .container-statistic .container-statistic-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 15vh;
}
body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30%;
  border-radius: 0.5rem;
  background-color: #D9D9D9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
}
body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar #bar-task-finished {
  height: 100%;
  width: 78%;
  background-color: #5eeb27;
  background: linear-gradient(to right, #5eeb27, #4ab41f);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar #bar-task-canceled {
  height: 100%;
  width: 22%;
  background-color: #ec530c;
  background: linear-gradient(to right, #ec530c, #f06424);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  background-color: #AEE8CA;
  opacity: 40%;
  width: 70%;
  height: 20%;
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.8s;
}
body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar-info:hover {
  opacity: 100%;
}
body #main-profile .view-infos .container-config {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
}
body #main-profile .view-infos .container-config .box-configs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #034AA6;
  border-radius: 1rem;
  width: 80%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
body #main-profile .view-infos .container-config .box-configs .box-configurations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}
body #main-profile .view-infos .container-config .box-configs .box-configurations .line-config {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 10px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}
body #main-profile .view-infos .container-config .box-configs .box-configurations .line-config .ball-option {
  width: 40px;
  height: 20px;
  border: solid 2px #D9D9D9;
  border-radius: 10px;
  background-color: #034AA6;
}
body #main-profile .view-infos .container-config .box-configs .box-configurations .line-config .ball-option .active-order-priority {
  position: relative;
  width: 55%;
  height: 100%;
  border-radius: 20px;
  background-color: #D9D9D9;
}
body #main-profile .view-infos .container-config .box-configs .box-configurations .line-config .ball-option:hover {
  cursor: pointer;
}
body #main-profile .view-infos .container-config .btn-configs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8vh;
  margin-top: 2.5rem;
  background: linear-gradient(to right, #034AA6, #0487D9);
  border-radius: 1rem;
  color: #D9D9D9;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}
body #main-profile .view-infos .container-config .btn-configs:hover {
  cursor: pointer;
  background: linear-gradient(to left, #034AA6, #0487D9);
}
body #main-profile .view-infos .container-config .style-to-name-config {
  color: #D9D9D9;
  font-size: 1.2rem;
  font-weight: 580;
  margin-right: 0.5em;
}
body #modal-remove {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 40vh;
  position: relative;
}
body #modal-remove #task-remove p {
  font-size: 1.3rem;
}
body .modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 100;
  margin: 0 auto;
  width: 50vw;
  height: 40vh;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: white;
}
body .modal .content-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 8vh;
  padding: 0.35vw;
}
body .modal .content-modal .input {
  width: 70%;
  height: 100%;
  padding: 0.5rem;
  background-color: #034AA6;
  outline: none;
  border-style: none;
  font-size: 1vw;
  border-radius: 1rem;
  color: white;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
body .modal .content-modal .input::-moz-placeholder {
  color: white;
  opacity: 40%;
}
body .modal .content-modal .input::placeholder {
  color: white;
  opacity: 40%;
}
body .modal .content-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0.25rem;
}
body .modal .content-btn .btn-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  width: 37%;
  height: 95%;
  min-height: 10vh;
  border-radius: 0.5rem;
  background-color: #034AA6;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: white;
  transition: 0.1s;
  border-style: none;
}
body .modal .content-btn #btn-edit-cancel:hover {
  cursor: pointer;
  background-color: #e63e3e;
}
body .modal .content-btn #btn-edit-edit:hover {
  cursor: pointer;
  background-color: #0487D9;
}
body main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 50%;
}
body main #container {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1vw;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
body main #container h1 {
  font-size: 2rem;
  margin-bottom: 3vw;
  color: white;
}
body main #container #container-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  padding: 0.25vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 8vh;
}
body main #container #container-info #task-add {
  width: 60%;
  height: 100%;
  padding: 0.5rem;
  background-color: #034AA6;
  outline: none;
  border-style: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
body main #container #container-info #task-add::-moz-placeholder {
  color: white;
  opacity: 40%;
}
body main #container #container-info #task-add::placeholder {
  color: white;
  opacity: 40%;
}
body main #container #container-info #priority {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 100%;
  padding: 0.1vw;
  border-radius: 0.5rem;
  color: white;
  background-color: #034AA6;
}
body main #container #container-info #priority p {
  font-size: 0.9rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
}
body main #container #container-info #priority #level {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
body main #container #container-info #btn-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #034AA6;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: white;
  transition: 0.1s;
}
body main #container #container-info #btn-add:hover {
  cursor: pointer;
  background-color: #0487D9;
}
body main #container #task-made {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5vw;
  width: 100%;
  height: 40vh;
  border-radius: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
body main #container #task-made .priority-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
}
body main #container #task-made .priority-task {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}
body main #container #task-made .container-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 5vh;
  justify-content: space-around;
}
body main #container #task-made .container-actions .actions {
  cursor: pointer;
}
body .priority-level {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.1s;
}
body .content-priority {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 100%;
  padding: 0.1vw;
  border-radius: 0.5rem;
  color: white;
  background-color: #034AA6;
}
body .content-priority p {
  font-size: 80%;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
}
body .content-priority .content-level {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
body .tasks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  background-color: #034AA6;
  width: 100%;
  min-height: 30%;
  margin-bottom: 1rem;
  padding: 0rem 1rem 0rem 3rem;
  border-radius: 1.3rem;
}
body .task-puted {
  font-size: 1.2rem;
  color: white;
  font-weight: 900;
  letter-spacing: 0.1rem;
  width: 50%;
}
body .choose-priority {
  width: 20px;
  height: 20px;
  background-color: #0487D9;
  border-radius: 50%;
  transition: 0.2s;
}
body .choose-priority:hover {
  background-color: #05DBF2;
  cursor: pointer;
}
body .watch-out {
  box-shadow: rgba(216, 34, 18, 0.863) 0px 0px 0px 2px, rgba(228, 5, 5, 0.65) 0px 4px 6px -1px, rgba(153, 26, 26, 0.08) 0px 1px 0px inset;
}
body footer {
  width: 100%;
  height: 15%;
}

@media screen and (max-width: 1350px) {
  body .modal {
    min-width: 70vw;
  }
}
@media screen and (max-width: 1400px) {
  body {
    width: 100%;
  }
  body main {
    width: 70vw;
  }
  body main #container {
    width: 100%;
  }
  body .modal {
    width: 65%;
  }
  body .tasks {
    border-radius: 1rem;
  }
}
@media screen and (max-width: 1250px) {
  body header nav {
    width: 50%;
  }
  body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar-info {
    width: 80%;
  }
  body #main-profile .view-infos .container-config .box-configs {
    width: 90%;
  }
}
@media screen and (max-width: 1050px) {
  body {
    width: 100%;
  }
  body main {
    width: 70vw;
    height: 70vh;
  }
  body main #container {
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  body main #container #task-made {
    width: 90%;
    height: 35vh;
  }
  body main #container #task-made .priority-action {
    width: 40%;
  }
  body main #container #task-made .priority-action {
    width: 50%;
  }
  body main #container #task-made .container-actions {
    width: 40%;
  }
  body main #container #container-info {
    flex-direction: column;
    height: 25vh;
  }
  body main #container #container-info #task-add {
    width: 90%;
    height: 30%;
  }
  body main #container #container-info #priority {
    width: 90%;
    height: 30%;
  }
  body main #container #container-info #priority p {
    font-size: 1rem;
  }
  body main #container #container-info #priority #level {
    width: 25%;
  }
  body main #container #container-info #btn-add {
    width: 90%;
    height: 25%;
  }
  body .choose-priority {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    width: 100%;
  }
  body header nav {
    width: 60%;
  }
  body .modal {
    width: 80%;
  }
  body .tasks {
    border-radius: 1rem;
  }
  body #main-profile #container-profile {
    flex-direction: column;
  }
  body #main-profile #container-select {
    flex-direction: row;
    height: 100%;
  }
  body #main-profile #modal-remove {
    min-width: 90vw;
  }
  body #main-profile .select-box-style {
    width: 25%;
    height: 100%;
  }
  body #main-profile .select-page {
    width: 100%;
    height: 15%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
  }
  body #main-profile .view-infos {
    width: 100%;
    height: 85%;
    padding-top: 2rem;
  }
  body #main-profile .view-infos .container-statistic {
    min-height: 60vh;
  }
  body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics .name-type-statitic {
    font-size: 2vw;
  }
  body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics .number-statistic {
    font-size: 7vw;
  }
  body #main-profile .view-infos .container-config .box-configs .box-configurations .line-config {
    border-radius: 1rem;
  }
}
@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  body header {
    justify-content: center;
    width: 100%;
  }
  body header nav {
    display: none;
  }
  body header .name-symbol {
    margin: 0;
  }
  body main {
    width: 90vw;
  }
  body main #container {
    width: 100%;
  }
  body #container-profile {
    width: 95%;
  }
  body .modal {
    width: 80%;
  }
  body .content-priority {
    width: 25%;
  }
  body .tasks {
    border-radius: 1rem;
  }
  body #main-profile .view-infos .container-statistic {
    min-height: 110vh;
  }
  body #main-profile .view-infos .container-statistic .box-statistics {
    flex-direction: column;
    height: 80vh;
  }
  body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics {
    width: 60%;
  }
  body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics .name-type-statitic {
    font-size: 4vw;
  }
  body #main-profile .view-infos .container-statistic .box-statistics .style-box-statistics .number-statistic {
    font-size: 15vw;
  }
  body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar-info {
    width: 90%;
  }
  body #main-profile .view-infos .container-config .box-configs {
    width: 100%;
  }
  body #main-profile .view-infos .container-config .style-to-name-config {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 130vh;
  }
  body main {
    width: 95vw;
    height: 90vh;
  }
  body main #main-profile {
    position: unset;
    height: 100%;
    background-color: #082783;
    border-radius: 1rem;
  }
  body main #main-profile .select-page {
    box-shadow: unset;
    background-color: #034AA6;
  }
  body main #container {
    width: 100%;
    height: 90%;
    background-color: #082783;
  }
  body main #container #task-made {
    height: 60vh;
    padding-top: 1vw;
  }
  body main #container #task-made .priority-action {
    width: 90%;
  }
  body main #container #task-made .priority-task {
    width: 40%;
  }
  body main #container #task-made .container-actions {
    width: 40%;
  }
  body main #container #task-made .actions {
    height: 2.5vh;
  }
  body main #container #container-info #btn-add {
    height: 30%;
  }
  body main #container .task-puted {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
  body #modal-remove #task-remove p {
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }
  body .tasks {
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    padding-top: 0.5rem;
    border-radius: 20px;
    min-height: 31%;
  }
  body .priority-level {
    width: 20px;
    height: 20px;
  }
  body .content-priority {
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  body .content-priority p {
    font-size: 0.8rem;
  }
  body .modal {
    min-height: 50vh;
    min-width: 90vw;
  }
  body .modal .content-modal {
    flex-direction: column;
    height: 25vh;
  }
  body .modal .content-modal .input {
    width: 100%;
    height: 45%;
    text-align: center;
    font-size: 1rem;
  }
  body .modal .content-btn {
    justify-content: space-between;
  }
  body .modal .content-btn .btn-edit {
    width: 45%;
  }
  body .choose-priority {
    width: 20px;
    height: 20px;
  }
  body #main-profile .view-infos .style-to-title {
    color: #D9D9D9;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
  }
  body #main-profile .view-infos .container-statistic .container-statistic-bar .statistic-bar-info {
    flex-direction: column;
    width: 80%;
    height: 60%;
  }
  body #main-profile .view-infos .container-config .box-configs {
    padding: 0;
    background-color: unset;
    box-shadow: unset;
  }
  body #main-profile .view-infos .container-config .box-configs .box-configurations {
    padding: 0;
  }
  body #main-profile .view-infos .container-config .box-configs .box-configurations .line-config {
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
    background-color: #034AA6;
    padding: 0.6em;
  }
  body #main-profile .view-infos .container-config .style-to-name-config {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  *::-webkit-scrollbar-track {
    margin-top: 1rem;
  }
  body {
    width: 100%;
  }
  body main #container #container-info {
    height: 35vh;
  }
  body main #container #container-info #task-add {
    text-align: center;
  }
  body main #container #container-info #priority {
    height: 30%;
  }
  body main #container #container-info #priority p {
    font-size: 0.9rem;
  }
  body main #container #container-info #priority #level {
    width: 90%;
  }
  body main #container #task-made {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  body main #container #task-made .container-actions .actions {
    height: 2.5vh;
  }
  body main #container .task-puted {
    font-size: 1rem;
  }
  body #main-profile {
    width: 100%;
  }
  body #main-profile #container-statistic {
    padding-bottom: 1em;
  }
  body .priority-level {
    width: 16px;
    height: 16px;
  }
  body .tasks {
    width: 98%;
    min-height: 47%;
    border-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */