
<div class="container-footer">
    <p class="title">Redes Sociais:</p>
    <div class="box-midias">
        <a href="https://www.instagram.com/phnew_/" target="_blank" rel="noopener noreferrer"><img src="./svg/instagram.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/pedro-henrique-novais-7610ab1b6/" target="_blank" rel="noopener noreferrer"><img src="./svg/linkedin.svg" alt=""></a>
        <a href="#"><img src="./svg/twitter.svg" alt="" target="_blank" rel="noopener noreferrer"></a>
    </div>
    <p class="title">Sobre o Desenvolvedor:</p>
    <div class="box-midias">
        <a href="#"><img src="./svg/book-solid.svg" alt="" target="_blank" rel="noopener noreferrer"></a>
    </div>
</div>

<p>&copy; 2024 Pedro Henrique G S Novais. Todos os direitos reservados.</p>
