<div class="name-symbol">
    <img src="svg/book-solid.svg" alt="Symbol List" class="symbol-nav" id="symbol-tasks">
    <h1>Tarefas.io</h1>
</div>
<nav>
    <ul>
        <li id="visit-welcome" type = 'navigation'>
            <p>Bem-Vindo</p>
        </li>
        <li id="visit-login" type = 'navigation'>
            <p>Entrar</p>
        </li>
        <li id="visit-register" type = 'navigation'>
            <p>Cadastrar</p>
        </li>
    </ul>
</nav>

<img src="./svg/bars-solid.svg" class="symbol-nav" id="bar-view-options">