<div class="name-symbol">
    <img src="./svg/book-solid.svg" alt="Symbol List" class="symbol-nav" id="symbol-tasks">
    <h1>Tarefas.io</h1>
</div>
<nav>
    <ul>
        <li id="visit-profile">
            <p>Perfil</p>
        </li>
        <li id="visit-list">
            <p>Tarefas</p>
        </li>
        <li id="visit-ranking">
            <p>Ranking</p>
        </li>
        <li id="logout">
            <p>Sair</p>
        </li>
    </ul>
</nav>