<div class="name-symbol">
    <img src="svg/book-solid.svg" alt="Symbol List" class="symbol-nav" id="symbol-tasks">
    <h1>Tarefas</h1>
</div>
<nav>
    <ul>
        <li id="visit-welcome">
            <p>Bem-Vindo</p>
        </li>
        <li id="visit-login">
            <p>Entrar</p>
        </li>
        <li id="visit-signup">
            <p>Cadastrar</p>
        </li>
    </ul>
</nav>