<div class="name-symbol">
    <img src="./svg/book-solid.svg" alt="Symbol List" class="symbol-nav" id="symbol-tasks">
    <h1>Tarefas.io</h1>
</div>
<nav>
    <ul>
        <li id="visit-profile" type = 'navigation'>
            <p>Perfil</p>
        </li>
        <li id="visit-list" type = 'navigation'>
            <p>Tarefas</p>
        </li>
        <li id="visit-ranking" type = 'navigation'>
            <p>Ranking</p>
        </li>
        <li id="logout" type = 'navigation'>
            <p>Sair</p>
        </li>
    </ul>
</nav>