<div class="container-personalization-infos-user" identifier-profile="profile">

    <h1 class='style-to-title'>Personalizar</h1>
    <img src="../svg/xmark-solid.svg" alt="back" id="icon-back">

    <div class="container-personalizations">


        <!--Personalização Nome-->
        <div class="box-customization">
            <label for="value-name-personalization">
                <p class="title-input-personalization">Nome:</p>
            </label>
            <div class="box-view-info-icon">
                <div class="box-info-to-edit" identifier="name">

                </div>
                <img src="../svg/pen-to-square-solid.svg" alt="Editar" class='actions-icon-div' identifier-icon='name'>

                <input type="text" name="name" class="inputs-personalization" id="value-name-personalization"
                    style='display: none;'>
                <img src="../svg/check-solid.svg" alt="Editar" class='actions-icon-check' style='display: none;'
                    identifier-icon-check='name'>

            </div>
        </div>

        <!--Personalização descrição-->
        <div class="box-customization">
            <label for="value-description-personalization">
                <p class="title-input-personalization">Descrição:</p>
            </label>
            <div class="box-view-info-icon">
                <div class="box-info-to-edit" identifier="description">

                </div>
                <img src="../svg/pen-to-square-solid.svg" alt="Editar" class='actions-icon-div'
                    identifier-icon='description'>

                <input type="text" name="description" class="inputs-personalization"
                    id="value-description-personalization" style='display: none;'>
                <img src="../svg/check-solid.svg" alt="Editar" class='actions-icon-check' style='display: none;'
                    identifier-icon-check='description'>
            </div>
        </div>

        <!--Personalização email-->
        <div class="box-customization">
            <label for="value-email-personalization">
                <p class="title-input-personalization">Email:</p>
            </label>
            <div class="box-view-info-icon">
                <div class="box-info-to-edit" identifier="email">

                </div>
                <img src="../svg/pen-to-square-solid.svg" alt="Editar" class='actions-icon-div' identifier-icon='email'>

                <input type="email" name="email" class="inputs-personalization" id="value-email-personalization"
                    style='display: none;'>
                <img src="../svg/check-solid.svg" alt="Editar" class='actions-icon-check' style='display: none;'
                    identifier-icon-check='email'>
            </div>
        </div>

        <!--Personalização senha-->
        <div class="box-customization">
            <label for="value-password-personalization">
                <p class="title-input-personalization">Senha:</p>
            </label>
            <div class="box-view-info-icon">
                <div class="box-info-to-edit" identifier="password">

                </div>
                <img src="../svg/pen-to-square-solid.svg" alt="Editar" class='actions-icon-div'
                    identifier-icon='password'>

                <input type="text" name="password" class="inputs-personalization" id="value-password-personalization"
                    style='display: none;'>
                <img src="../svg/check-solid.svg" alt="Editar" class='actions-icon-check' style='display: none;'
                    identifier-icon-check='password'>
            </div>
        </div>

    </div>

    <!-- <div id="btn-customization" class="btn-configs">Salvar</div> -->
</div>