<div class="container-personalization-modal" identifier-profile="profile">
    <h1 class='style-to-title'>Código de Verificação</h1>
    <img src="../svg/arrow-left-solid.svg" alt="back" id="icon-back">

    <div class="modal-personalizations">

        <div class="box-customization-security" id="modal-code">
            <label for="code">
                <p class="title-input-personalization">Insira o código:</p>
            </label>
            <input type='text' name='code-personalziation' class='inputs-personalization-modal' id='code'>
            <p id='send-code-again'>Reenviar código</p>
        </div>
        <div class='box-alert-personalization'>  </div>
        
        <div id='btn-verify-code-personalization' class='btn-configs'>Verificar</div>

        <p id="info-email-send" class="style-info-email-send"></p>
    </div>
</div>