<div class="container-statistic" identifier-profile="statistic">
    <h1 class='style-to-title'>Estatísticas</h1>
    <div class='choose-priority-view'>
        <div class='select-priority'>
            <p>Prioridade</p>
            <div class='box-priority-statistic'>
                <div class='choose-priority-statistic' id='priorityOne'></div>
                <div class='choose-priority-statistic' id='priorityTwo'></div>
                <div class='choose-priority-statistic' id='priorityThree'></div>
                <div class='choose-priority-statistic' id='priority-all'>
                    <p>#</p>
                </div>
            </div>
        </div>
    </div>
    <div class='box-statistics'>
        <div class='style-box-statistics'>
            <p class='name-type-statitic'>Tasks Criadas</p>
            <p class='number-statistic' id='statistic-created'>-</p>
        </div>
        <div class='style-box-statistics'>
            <p class='name-type-statitic'>Tasks Finalizadas</p>
            <p class='number-statistic' id='statistic-finished'>-</p>
        </div>
        <div class='style-box-statistics'>
            <p class='name-type-statitic'>Tasks Canceladas</p>
            <p class='number-statistic' id='statistic-canceled'>-</p>
        </div>
    </div>
    <div class='container-statistic-bar'>
        <div class='statistic-bar'>
            <div id='bar-task-finished'></div>
            <div id='bar-task-canceled'></div>
        </div>
        <div class='statistic-bar-info'>
            <p id='number-finished'></p>
            <p id='number-canceled'></p>
        </div>
    </div>
</div>