<div class="container-profile-user">
    <h1 class='style-to-title' id='user-name'>Perfil</h1>
    <div class='container-infos-user'>
        <div class='container-primary-infos'>
            <div class='box-description'>
                <div class='box-user-infos'>
                    <div class='boxs-infos-user'>
                        <div class='box-infos'>Desde de: <p id='info-since'></p>
                        </div>
                        <div class='box-infos'>Conexões: <p id='info-connections'></p>
                        </div>
                        <div class='box-infos'>Ranking: <p id='info-ranking'></p>
                        </div>
                    </div>
                    <div class='boxs-infos-user'>
                        <div class='box-infos'>Tarefas Criadas: <p id='info-task-created'></p>
                        </div>
                        <div class='box-infos'>Tarefas Concluídas: <p id='info-task-finished'></p>
                        </div>
                        <div class='box-infos'>Tarefas Canceladas: <p id='info-task-canceled'></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='container-second-infos'>
            <div class='box-user-description' id='user-description'>
                <h3>Descrição</h3>
                <p id='text-user-description'> </p>
            </div>
            <div class='box-user-description' id='user-infos-general'>
                <h3>Redes Sociais</h3>
                <div class='box-infos-general'> </div>
            </div>
        </div>
    </div>
    <div id='btn-save-user' class='btn-configs'>Personalizar</div>
</div>