<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="./svg/book-solid-blue.svg">
    <title>Tarefas</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="name-symbol">
        <img src="./svg/book-solid.svg" alt="Symbol List" class="symbol-nav" id="symbol-tasks">
            <h1>Tarefas</h1>
        </div>
        <nav>
            <ul>
                <li id="visit-profile"><p>Perfil</p></li>
                <li id="visit-list"><p>Tarefas</p></li>
                <li id="visit-ranking"><p>Ranking</p></li>
                <li id="logout"><p>Sair</p></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer>
        <p>Direitos reservados a Pedro</p>
    </footer>
</body>
<script src="scripts/changeView.js" type="module"></script>
</html>