<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header>
        <div class="name-symbol">
            <img src="svg/book-solid.svg" alt="Symbol List" class="symbol-nav" id="symbol-tasks">
                <h1>List To Do</h1>
            </div>
            <nav>
                <ul>
                    <li id="visit-welcome"><p>Welcome</p></li>
                    <li id="visit-login"><p>Login</p></li>
                    <li id="visit-signup"><p>Sign-up</p></li>
                </ul>
            </nav>
    </header>
    <main id="main-enter">
        <div class="conatiner-credentials">
            <h1>Login</h1>
            <div class="box-credentials">
                <div class="box-inputs">
                    <label for="value-email">
                        <p class="title-input">Email:</p>
                    </label>
                    <input type="email" name="email" class="inputs-credentials" id="value-email" mark="0" placeholder="Type you email">
                </div>
                <div class="box-inputs">
                    <label for="value-password">
                        <p class="title-input">Senha:</p>
                    </label>
                    <input type="password" name="password" class="inputs-credentials" id="value-password" mark="1" placeholder="Type your password">
                </div>
                <p id="forget-password">Forgot password?</p>
            </div>

            <button type="button" id="btn-login" class="btn-sign">Login</button>
        </div>
    </main>
    <footer>

    </footer>
</body>

<script src="scripts/scriptEnter.js" type="module"></script>

</html>