<!DOCTYPE html>

<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header_internal'); %>
    </header>

    <main identifier="profile">
        <div id="main-profile">
            <div id='container-profile'>
                <div class='select-page'>
                    <div id='container-select'>
                        <div class='select-box-style' id='section-profile'> <img src='./svg/user-solid.svg'
                                alt='Profile' height='25rem'> </div>
                        <div class='select-box-style' id='section-statistic'><img src='./svg/chart-simple-solid.svg'
                                alt='Statistic' height='25rem'> </div>
                        <div class='select-box-style' id='section-config'><img src='./svg/gear-solid.svg' alt='Config'
                                height='25rem'></div>
                    </div>
                </div>
                <div class='view-infos' id='view-infos-unique'> </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <%- include('../partials/script'); %>

    <script src="scripts/profile/interactorProfile.js" type="module"></script>
</body>

</html>