<!DOCTYPE html>

<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header_internal'); %>
    </header>

    <main identifier="ranking">
        
        <div id="container-ranking">
            <img src='./svg/arrows-rotate-solid.svg' alt='Recarregar' title='Recarregar' id='refresh'>
            <h2>Ranking</h2>
            <div class='box-search'> <input type='text' id='input-name-search' maxlength='35'
                    placeholder='Buscar usuario'>
                <div class='btn-search' id='search'> <img src='./svg/magnifying-glass-solid.svg' alt='pesquisar'
                        height='25rem'> </div>
            </div>
            <div class='users-ranking'> </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="../scripts/changeViewNew.js" type="module"></script>
    <script src="scripts/ranking/interactorRanking.js" type="module"></script>
</body>

</html>