<div class="container-config" identifier-profile="config">
    <h1 class='style-to-title'>Configurações</h1>
    <div class='box-configs'>
        <div class='box-configurations'>
            <div class='line-config'>
                <p class='style-to-name-config'>Organizar Lista por ordem de prioridade</p>
                <div class='ball-option' id='orderPriority'>
                    <div class='active-order-priority'></div>
                </div>
            </div>
            <div class='line-config'>
                <p class='style-to-name-config'>Permitir perfils visualizarem suas Estatísticas</p>
                <div class='ball-option' id='usersCanViewStatistic'>
                    <div class='active-order-priority'></div>
                </div>
            </div>
        </div>
    </div>
    <div id='btn-save-configs' class='btn-configs'>Salvar</div>
</div>