<div class="container-personalization-modal" identifier-profile="profile">
    <h1 class='style-to-title'>Personalização da Senha</h1> <img src='../svg/arrow-left-solid.svg' alt='back' id='icon-back'>
    <div class='modal-personalizations'>
        <div class='box-customization-security'> <label for='value-actual-password-personalization'>
                <p class='title-input-personalization'>Senha Atual:</p>
            </label>
            <input type='text' name='actual-password' class='inputs-personalization-modal'
                id='value-actual-password-personalization'>
        </div>
        <div class='box-customization-security'> <label for='value-new-password-personalization'>
                <p class='title-input-personalization'>Nova Senha:</p>
            </label> <input type='text' name='new-password' class='inputs-personalization-modal'
                id='value-new-password-personalization'> </div>
        <div class='box-customization-security'> <label for='value-new-password-confirmation-personalization'>
                <p class='title-input-personalization'>Confirme a senha:</p>
            </label> <input type='text' name='confirmation-password' class='inputs-personalization-modal'
                id='value-new-password-confirmation-personalization'> </div>
        <div class='box-alert-personalization'> </div>
        <div id='btn-customization-security' class='btn-configs'>Salvar</div>
    </div>
</div>