<div class="container-personalization-infos-user" identifier-profile = "profile">

    <h1 class='style-to-title'>Personalizar</h1>
    <img src="../svg/xmark-solid.svg" alt="back" id="icon-back">

    <div class="container-personalizations">


        <!--Personalização Nome-->
        <div class="box-customization">
            <label for="value-name-personalization">
                <p class="title-input-personalization">Nome:</p>
            </label>
            <div class="box-view-info-icon">
                <div class="box-info-to-edit">
        
                </div>
                <img src="../svg/pen-to-square-solid.svg" alt="">
            </div>
        </div>

        <!--Personalização descrição-->
        <div class="box-customization">
            <label for="value-description-personalization">
                <p class="title-input-personalization">Descrição:</p>
            </label>
            <div class="box-view-info-icon">
                <input type="text" name="description" class="inputs-personalization"
                    id="value-description-personalization">
                <img src="../svg/pen-to-square-solid.svg" alt="">
            </div>
        </div>

        <!--Personalização email-->
        <div class="box-customization">
            <label for="value-email-personalization">
                <p class="title-input-personalization">Email:</p>
            </label>
            <div class="box-view-info-icon">
                <input type="email" name="email" class="inputs-personalization" id="value-email-personalization">
                <img src="../svg/pen-to-square-solid.svg" alt="">
            </div>
        </div>

        <!--Personalização senha-->
        <div class="box-customization">
            <label for="value-password-personalization">
                <p class="title-input-personalization">Senha:</p>
            </label>
            <div class="box-view-info-icon" mark="password">
                <input type="text" name="password" class="inputs-personalization" id="value-passsword-personalization">
                <img src="../svg/pen-to-square-solid.svg" alt="">
            </div>
        </div>

    </div>

    <div id="btn-customization" class="btn-configs">Salvar</div>
</div>