<div class="container-personalization-modal" identifier-profile="profile">
    <h1 class='style-to-title'>Personalização do Email</h1> <img src='../svg/xmark-solid.svg' alt='back' id='icon-back'>
    <div class='modal-personalizations'>
        <div class='box-customization-security'> <label for='value-actual-email-personalization'>
                <p class='title-input-personalization'>Email Atual:</p>
            </label>
            <div class='div-personalization-modal' id='value-actual-email-personalization'> </div>
        </div>
        <div class='box-customization-security'> <label for='value-new-email-personalization'>
                <p class='title-input-personalization'>Novo Email:</p>
            </label> <input type='text' name='new-email' class='inputs-personalization-modal'
                id='value-new-email-personalization'> </div>
        <div class='box-customization-security'> <label for='value-new-email-confirmation-personalization'>
                <p class='title-input-personalization'>Confirme o Email:</p>
            </label> <input type='text' name='confirmation-email' class='inputs-personalization-modal'
                id='value-new-email-confirmation-personalization'> </div>
        <div class='box-alert-personalization'> </div>
        <div id='btn-customization-security' class='btn-configs'>Salvar</div>
    </div>
</div>